#headname
{
  text-decoration: none;
  margin-left: 3%;
  font-size: .8cm;
  color:#608a6f
}

#headside
{
  
  margin-left: .1%;
  font-size: .5cm;
  color: black;
  font-weight: 600;
}

#header
{
  font-family: 'Montserrat', sans-serif;
  background-color: mintcream;
}

#dir
{
  margin-right: 3%;
  float:right
}

.dire
{
  text-decoration: none;
  color: black;
  font-size: 0.5cm;
  font-weight: 400;

}

#headerline
{
  margin-top: 1.5%;
  margin-bottom: 7%;
}

#footerline
{
  margin-top: 12%;
  margin-bottom: 2.5%;
}

body
{
  background-color: white;
}

html
{
  background-color:mintcream;
}

#footer
{
  background-color:mintcream
}

.alignleft 
{
  text-align: left;
  float: left;
  margin-left: 5%;
}

#aligncentert
{
  text-align: left;
  margin-left: 31%;
 
}
#aligncenterb
{
  text-align: left;
  margin-left: 31%;
  
}

.alignright 
{
  text-align: left;
  float: right;
  margin-right: 5%;
 
 
}

.titles
{
  font-weight: 700;
  font-size: .55cm;
  color: #608a6f;
}

.all
{
  font-family: 'Montserrat', sans-serif;

}

.webinfo
{
  font-size: .35cm;

}

.bottom
{
  margin-bottom: 2.5%;

}

#hide
{
  color: mintcream;
}