#headname
{
  text-decoration: none;
  margin-left: 3%;
  font-size: .8cm;
  color:#608a6f
}

#headside
{
  
  margin-left: .1%;
  font-size: .5cm;
  color: black;
  font-weight: 600;
}

#header
{
  font-family: 'Montserrat', sans-serif;
  background-color: mintcream;
}

#dir
{
  margin-right: 3%;
  float:right
}

.dire
{
  text-decoration: none;
  color: black;
  font-size: 0.5cm;
  font-weight: 400;

}

#headerline
{
  margin-top: 1.5%;
  margin-bottom: 7%;
}

#footerline
{
  margin-top: 12%;
  margin-bottom: 2.5%;
}

body
{
  background-color: white;
}

html
{
  background-color:mintcream;
}

#footer
{
  background-color:mintcream
}

.alignleft 
{
  text-align: left;
  float: left;
  margin-left: 5%;
}

#aligncentert
{
  text-align: left;
  margin-left: 31%;
 
}
#aligncenterb
{
  text-align: left;
  margin-left: 31%;
  
}

.alignright 
{
  text-align: left;
  float: right;
  margin-right: 5%;
 
 
}

.titles
{
  font-weight: 700;
  font-size: .55cm;
  color: #608a6f;
}

.all
{
  font-family: 'Montserrat', sans-serif;

}

.webinfo
{
  font-size: .35cm;

}

.bottom
{
  margin-bottom: 2.5%;

}

#hide
{
  color: mintcream;
}













 

 


 





#formt
{
  font-family:'Montserrat', sans-serif  ;
  text-align: center;
  color: mintcream;
}

#form
{
  border-radius: 25px;
  background: #608a6f;
  padding: 20px;
  width: 750px;
  height: 750px;
  
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: .7cm;
  text-decoration: none;
  
}


#formfill
{
  text-align: left;
  margin-bottom: 50%;
  margin-left: 10%;
}

.labels
{
  font-size: .5cm;
  text-align: left;
  color: mintcream;
}
.inputs
{

  font-size: .5cm;
  font-weight: 100;
  color: mintcream;
  margin-bottom: 2%;
  margin-left: 2%;
  size: 5cm;
  background-color:#608a6f ;
  
  
  
  border: 0;
  
  outline:0
  
  
  
}

.underline
{
  width: 600px;
  height: 2px;
  background-color: mintcream;
}











 

 
  
 