#right
{
  /* background-color: red; */
  width: 20%;
  height: 100%;
  float: right;
  margin-right: 10%;
  
}

#left
{
 
  margin-left: 17%;
  
  /* background-color: blue; */
  width: 43%;
  height: 100%;
  float: left;
 
}



#title
{
  background-color: #608a6f;
  
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-left: 18.9%;
  width: 200px;
  height: 58px;
  border-radius: 15px;
  margin-bottom: 4%;
  
  
  
  
}


#titlename
{
  color: mintcream;
  font-size: 1.15cm;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.dates
{
  color: grey;
}



#rall
{
  margin-bottom: 100%;
  font-family: 'Montserrat', sans-serif;
}

.rightps
{
  line-height: 2;
}

.leftps
{
  
  margin-left: 5%;
}
.leftps2
{
  line-height: 2;
}
#lbody
{
  margin-left: 5%;
}
.rtitles
{
  color: #608a6f;
  text-decoration: underline;
}


