#title
{
  
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-left: 10%;
  
}


#titlename
{
  color: #608a6f;
}

#titleinfo
{
  color: grey;
  margin-top: -1%;
  font-weight: 400;
  font-size: .5cm;
  margin-left: 2%;
}


